@media (max-width: 480px) {
    .navbar {
        padding: 10px; 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: auto;
        padding: 10px;
        overflow: visible;
    }

    .navbar-links{
        display: none;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 20px;
        border: none; 
    }

    .navbar img {
        height: 50px;
        width: 50px; 
    }
    
    .navbar-links.open {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        position: absolute;    /* drops down below navbar */
        top: 70px;
        left: 0;
        background-color: #2C1A14;
        padding: 1rem 0;
        z-index: 999;
        border: none; 
    }

    .hamburger {
        display: flex;
    }

    .navbar-links li a{
        display: block;
        color: #EDE5F2; 
        padding: 10px;
        font-size: 20px;
    }

    .navbar-links li a:hover {
    color: #C4956A; /* Strawberry Red */
    text-decoration: underline;
    transition: 0.3s;
    }

    h1{
        font-size: 40px;
    }

    h2 {
        font-size: 35px;
    }

    p, li, a {
        font-size: 18px;
    }

    body {
        background-attachment: scroll;
    }
}

/* tablets */
@media (min-width: 481px) and (max-width: 768px) { 
    .navbar{
        padding: 15px;
    }

    .navbar-links{
        flex-direction: column;
        align-items: center; 
        gap: 15px;
        width: 100%; 
        padding: 20px;
    }

    .navbar-links li a{
        font-size: 30px;
    }

    h1{
        font-size: 40px;
    }

    h2 {
        font-size: 35px;
    }

    p, li, a {
        font-size: 25px;
    }
}
/* computers*/
@media (min-width: 769px) and (max-width: 1024px) {
    .navbar-links {
        flex-direction: row;
        justify-content: space-around;
    }

    h1{
        font-size: 60px;
        z-index: 2;
    }

    h2 {
        font-size: 40px;
        z-index: 2;
    }

    p, li, a {
        font-size: 25px;
        z-index: 2;
    }
}

body{
    background-image: url("images/CafePannaImage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h3, h4 {
    color: #6B2D39;
}

p, li, a {
    color: #3C2A21;
}

.navbar{ /* nav bar background*/
    background-color: #2C1A14;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 4px solid #C6A68E;

}

.navbar-links{ /* link layout*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 80%;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #F5EBDC;
    border: 25px solid #C6A68E;
}

.navbar-links li a{ /* actual links*/
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-family: 'Courier New';
    color: #EDE5F2; /* lavendar color*/
    padding: 10px;
}

.navbar-links li a:hover{
    color: #C4956A;
}

#hallis-specials h2{
    color: #6B2D39;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    border-bottom: 5px dashed #6B5075;
    padding-bottom: 10px;
}

figcaption {
    color: #6B5075; 
}

.featured-container {
    width: 100%;
    margin-bottom: 50px;
    overflow-x: auto;
    display: flex;
    white-space: nowrap;
    gap: 15px;
    padding: 20px;
    border-radius: 12px;
    background-color: rgba(250, 246, 240, 0.5);
}

.featured-container img {
    height: 300px;
    width: auto;
    flex-shrink: 0;
    border-radius: 10px;
}

.MISSION {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    background-color: gba(250, 246, 240, 0.92);
    padding: 12px;
}

.MENU {
    clear: both;
    display: block;
    border-radius: 12px;
    background-color: rgba(250, 246, 240, 0.9);
    border-radius: 12px;
    padding: 2rem;
    margin: 2rem auto;
    width: 90%;
}

.MENU table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    border-collapse: collapse;
}

.MENU th, .MENU td {
    border: 1px solid #C6A68E;
    padding: 15px;
    color: #2C1A14;
}

.contact h2, .contact p {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    color: brown;
}

h1{
    background-color: #EDE5F2;
    color: #2C1A14;
    border: 5px solid #6B5075;
}

iframe {
    display: block;
    width: 90%;           /* stops it hitting the edges */
    margin: 0 auto; 
    background-color: whitesmoke;
    border-radius: 12px;
    padding: 10px;
    border: 3px solid #C6A68E;    
}

.form {
    display: flex;
    flex-direction: column;
    background-color: rgba(250, 246, 240, 0.92);
    color: #2C1A14;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    margin: 2rem auto; 
}
